.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-section{
  background-color: cyan;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  loaders animation */
@keyframes rotate-animation {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }

  50% {
    transform: translateX(400%) translateY(100%) rotate(90deg);
  }

  100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
}

.square-container {
  @apply w-2 h-8 bg-customOrange rounded-lg shadow-lg;
  animation: rotate-animation 2.5s ease infinite;
}

.square-top {
  @apply absolute left-[40%] top-[50%] rotate-90;
}

.square-bottom {
  @apply absolute left-[40%] top-[50%] -rotate-90;
}

.square-left {
  @apply absolute left-[40%] top-[50%];
}

.square-right {
  @apply absolute left-[40%] top-[50%] -rotate-180;
}

.relative-wrapper {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}